<a class="navitem" href="/all-recipes">All Recipes</a>
<div class="welc">
    <% if(user){ %> 
     <a class="prof" href="/profile/<%=user._id%>">Welcome <%=user.username%></a>
     <button class="logout"><a href="/logout/<%=user._id%>">Logout</a></button>
     <% } else {%>
     <!-- <button class="login"> -->
         <a class="navitem" href="/login">Login</a>
     <!-- </button> -->
     <button class="loginup">
         <a class="navitemlog" href='/sign-up'>Sign Up</a>
     </button>
     <%} %>
 </div>