<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../home.css" />
    <link rel="stylesheet" href="../about.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Recipe</title>
</head>

<body class="about-body">


    <header>
        <nav class="navbar">
            <div class="navsection">
                <div class="logoback">
                    <p class="logo">Tasha's Recipes</p>
                </div>

                <ul class="navlist">
                    <a class="navitem" href="/">Home</a>
                    <a class="navitem" href="/contact">Contact us</a>
                    <a class="navitem">Login</a>
                    <a class="navitem">Sign Up</a>
                </ul>
            </div>
            <div class="search">
                <input class="searchfield" id="searchfield" type="text" placeholder="Search by recipe or name">
                <button class="srch" id="srch" onclick="goSearch()"> <i class="fa fa-search"></i></button>
            </div>
        </nav>
    </header>

    <div class="page">
        <div class="blurb-cont">
           
            <p class="blurb">Tasha's Recipe's <br> aims to provide you with the ultimate
                kitchen experience. We believe in food at first sight, and you can find it
                all here.
            </p>
            <p class="blurb">From the heart of Ghana, Accra, we bring you rich aromas from all over the world
                to guide you on your cooking adventure.</p>
            <p class="blurb">Let's make this together!</p>
        </div>

    </div>


    <footer>
        <p class="cc">&copy 2022 KristalTasha</p>
    </footer>



</body>

</html>