<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/contact.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Recipe</title>
</head>

<body class="contact-body">


    <header>
        <nav class="navbar">
            <div class="navsection">
                <div class="logoback">
                    <p class="logo">Tasha's Recipes</p>
                </div>

                <ul class="navlist">
                    <a class="navitem" href="/">Home</a>
                    <a class="navitem" href="/about">About us</a>
                  
                </ul>
            </div>

            <%- include("./partials/nav.ejs") %>

            <div class="search">
                <input class="searchfield" id="searchfield" type="text" placeholder="Search by recipe or name">
                <button class="srch" id="srch" onclick="goSearch()"> <i class="fa fa-search"></i></button>
            </div>
        </nav>
    </header>

    <div class="page">

        <div class="contact-holder">


            <div class="contact-items">
                <div class="citems">
                    <h1 class="loctxt">Contact Us</h1>
                </div>

                <div class="citems">
                    <i class="far fa-map-marker-alt"></i>
                    <p class="loctxt">Dansoman, Ghana</p>
                </div>

                <div class="citems">
                    <i class="fal fa-mailbox"></i>
                    <p class="loctxt">PMB Tasha's Recipes</p>
                </div>

                <div class="citems">
                    <i class="far fa-phone-alt"></i>
                    <p class="loctxt">+233 37 100 1000</p>
                </div>

                <div class="citems">
                    <i class="far fa-envelope"></i>
                    <p class="loctxt">hello@tashasrecipes.com</p>
                </div>

                <div class="citems">
                    <i class="fab fa-instagram"></i>
                    <p class="loctxt">@tashas_recipes</p>
                </div>

            </div>

            <div class="contact-img">

            </div>

        </div>

    </div>

    <%- include("./partials/footer.ejs") %>


    <script src="../logic/search.js"></script>

</body>

</html>