<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../home.css" />
    <link rel="stylesheet" href="../new_recipe.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Add New Recipe</title>
</head>

<body>


    <header>
        <nav class="navbar">
            <div class="navsection">
                <div class="logoback">
                    <p class="logo">Tasha's Recipes</p>
                </div>

                <ul class="navlist">
                    <a class="navitem" href="/">Home</a>
                    <a class="navitem">About us</a>
                    <a class="navitem">Contact us</a>
                </ul>
            </div>
            <div class="search">
                <input class="searchfield" type="text" placeholder="Search by recipe or name">
                <i class="fa fa-search"></i>
            </div>
        </nav>
    </header>

    <div class="page">

        <p class="add-title">Add a New Recipe</p>

        <div class="form-cont">
            <form class="recipe-form" method="POST" action="/newrec" enctype="multipart/form-data">
                <div class="form-item">
                    <label for="recipe_name">Name of Recipe</label>
                    <input type="text" id="recipe_name" name="recipe_name" required>
                </div>
                <div class="form-item">
                    <label for="origin">Recipe Origin</label>
                    <input type="text" id="origin" name="origin" required>
                </div>

                <div class="form-item">
                    <label for="category">Category</label>
                    <select class="category" name="category" id="category">
                        <option value="select-one" selected>--Select a Category--</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Pastries">Pastries</option>
                        <option value="Cocktails">Cocktails</option>
                        <option value="Desserts">Desserts</option>
                        <option value="Soups">Soups</option>
                        <option value="Meat">Meat</option>
                        <option value="Oriental">Oriental</option>
                        <option value="Carbs">Carbs</option>
                        <option value="Vegetarian">Vegetarian</option>

                    </select>
                </div>

                <div class="form-item">
                    <label for="full_name">Full Name</label>
                    <input type="text" id="full_name" name="full_name" required>
                </div>

                <div class="form-item">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" required>
                </div>

                <div class="form-item">
                    <label for="address">Address</label>
                    <input type="text" id="address" name="address" required>
                </div>

                <div class="form-item">
                    <label for="bio">Bio</label>
                    <input type="text" id="bio" name="bio" required>
                </div>

                <div class="form-item">
                    <label for="ingredients">Add New Ingredient</label>
                    <div class="ings">
                        <input type="text" class="ingred" id="ingred" name="ingredients" required>
                        <button class="newing">+</button>
                    </div>
                </div>

                <div class="added-ings">

                    <!-- <input type="text" class="theing" id="theing" name="ingredients"></input> -->

                    <!-- <button class="ingbtn"> -->
                    <ul class="theing" id="theing"></ul>
                    <!-- <i class="fas fa-minus-circle"></i>
                    </button> -->

                </div>

                <div class="form-item">
                    <label for="recipe">Recipe</label>
                    <div class="ings">
                        <input type="text" class="recipe" id="recipe" name="recipe" placeholder="Add recipe step"
                            required>
                        <button class="newing">+</button>
                    </div>
                </div>

                <div class="added-recipe"></div>

                <div class="btn-holder">
                    <div class="btn-item">
                        <label for="upload">Upload Image</label>
                        <input type="file" class="upload" name="imgUpload" id="upload">
                    </div>

                    <div class="btn-item">
                        <label for="upload">Upload Profile Picture</label>
                        <input type="file" class="upload" name="imgUpload" id="upload">
                    </div>

                    <button class="submit">Submit</button>

                </div>

            </form>

        </div>

    </div>

    <footer>
        <p class="cc">&copy 2022 KristalTasha</p>
    </footer>


    <script>
        const adding = document.querySelectorAll('.newing');
       

        adding.forEach(addbtn => {
            addbtn.addEventListener("click", addNewIng)

        })

        
        function addNewIng() {
            
            var inputs = document.querySelectorAll("ingred");
            var theing = document.getElementById('theing');

                text = inputs.value;
                console.log(text)
            theing.innerHTML += "<li>" + text + "<li>";
           
               

         

            // var li = document.createElement("li");
            // var node = document.createTextNode(text);
            // li.appendChild(node);
            // document.getElementById("theing").appendChild(li);
        }

        // function addNewIng() {
            
        //     var inputs = document.querySelectorAll("ingred");

        //   text = inputs.innerHTML;
        //     var li = document.createElement("li");
        //     var node = document.createTextNode(text);
        //     li.appendChild(node);
        //     document.getElementById("theing").appendChild(li);
        // }


    </script>


</body>

</html>