<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/signup.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Recipe</title>
</head>

<body class="signup-body">


    <header>
        <nav class="navbar">
            <div class="navsection">
                <div class="logoback">
                    <p class="logo">Tasha's Recipes</p>
                </div>

                <ul class="navlist">
                    <a class="navitem" href="/">Home</a>
                    <a class="navitem" href="/about">About us</a>
                    <a class="navitem" href="/contact">Contact us</a>
                    <button class="login">
                        <a class="navitemlog" href="/login">Login</a>
                    </button>
                </ul>
            </div>
            <div class="search">
                <input class="searchfield" id="searchfield" type="text" placeholder="Search by recipe or name">
                <button class="srch" id="srch" onclick="goSearch()"> <i class="fa fa-search"></i></button>
            </div>
        </nav>
    </header>

    <div class="signup-page">

        <div class="img-cont">
            <img class="fruitz" src="../images/fruitbgd_3.jpg">
        </div>

        <div class="form-cont">
            <form class="sign-up">
                <div class="form-item">
                    <label for="fullname">Full name</label>
                    <input type="text" name="fullname">
                    <div class="fullname"></div>
                </div>

                <div class="form-item">
                    <label for="address">Address</label>
                    <input type="text" name="address">
                    <div class="address"></div>
                </div>

                <div class="form-item">
                    <label for="username">Username</label>
                    <input type="text" name="username">
                    <div class="username"></div>
                </div>

                <div class="form-item">
                    <label for="bio">Bio</label>
                    <textarea type="text" name="bio"></textarea>
                    <div class="bio"></div>
                </div>

                <div class="form-item">
                    <label for="email">Email</label>
                    <input type="text" name="email">
                    <div class="email"></div>
                </div>


                <div class="form-item">
                    <label for="password">Password</label>
                    <input type="password" name="password">
                    <div class="password"></div>
                </div>
<!-- 
                <div class="btn-item">
                    <label for="upload">Upload Profile Picture</label>
                    <input type="file" class="upload" name="pUpload" id="upload">
                </div> -->

                <!-- <label for="password-conf">Confirm Password</label>
                <input id="password-conf" name="password-conf"> -->
                <a class="tologin" href="/login">Already have an account? Click here to Login</a>
                <button type="submit" class="submit">Sign Up</button>
            </form>
        </div>



    </div>

    <%- include("./partials/footer.ejs") %>

    <script>
        const form = document.querySelector("form");
        const fnError = document.querySelector('.fullname');
        const adError = document.querySelector('.address');
        const unError = document.querySelector('.username');
        const bioError = document.querySelector('.bio');
        const emailError = document.querySelector('.email');
        const pswdError = document.querySelector('.password');

        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            const fn = form.fullname.value;
            const ads = form.address.value;
            const un = form.username.value;
            const bios = form.bio.value;
            const email = form.email.value;
            const password = form.password.value;
           
            // console.log(ppic.name)

            fnError.textContent = "";
            adError.textContent = "";
            unError.textContent = "";
            bioError.textContent = "";
            emailError.textContent = "";
            pswdError.textContent = "";

            try {
                const response = await fetch("/signup", {
                    method: "POST",
                    body: JSON.stringify({
                        fullname: fn,
                        address: ads,
                        username: un,
                        bio: bios,
                        email,
                        password

                    }),
                    headers: {
                        "Content-Type": "application/json"
                       
                    }
                });

                const data = await response.json();
                console.log(data);

                if (data.errors) {
                    fnError.textContent = data.errors.fullname;
                    adError.textContent = data.errors.address;
                    unError.textContent = data.errors.username;
                    bioError.textContent = data.errors.bio;
                    emailError.textContent = data.errors.email;
                    pswdError.textContent = data.errors.password;
                }

                if(data.user){
                    location.assign('/')
                }

            } catch(error){
                console.log(error)
            }

        });


    </script>


</body>

</html>