.prof-body{
    height: 110em;
    background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url('../images/background_4.jpg');
    background-size: cover;  
    background-repeat: no-repeat;
    width: 100%;
    font-family: 'Red Rose';
}

.profile-cont{
    margin-top: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 20em;
    padding: 6%;
    align-items: center;
    background-color: rgba(25, 37, 33, 0.8); 

}

.prof-text{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 60%;

}

.chef-name, .contact, .bio{
    color: rgba(212, 229, 224, 1);
}

.chef-name{
    font-size: 2em;
}

.contact{
    font-size: 1.5;
}

.bio{
    font-size: 1em;
    padding-top: 0.6em;
}

.prof-img{
    border-radius: 100%;
    width: 16em;
    height: 16em;
    background-size: cover;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.6);
}

.line {
    width: 90%;
    height: 2px;
    background-color: #E4AA15;
    margin-top: 2em;
}

.chef-recs{
   color:rgba(212, 229, 224, 1); ;
   font-size: 1.8em;

}

.rec-search{
    height: 3em;
width: 60%;
background: #F7FCFA;
box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5);
border-radius: 6px;
border: none;
padding-left: 5px;
}

.chef-rec-grid{
    
}

.chef-rec-cont{
    width: 95%;
    height: 55em;
    background-color: rgba(244, 246, 245, 0.58) ;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.chef-search{
display: flex;
flex-direction: row;
justify-content: center;
width: 65%;
gap: 1em;
align-items: center;
}

.chef-search i{
    font-size: 1.5em;
    color: #153129 ;   
}

.search-btn{
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
   background-color:  rgba(126, 173, 159, 0.9);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5);
}

