.srch-body{
  background-image: url('../images/background.jpg');
  background-size: cover;  
  background-repeat: no-repeat;
  height: 80em;
}

.searchres-cont{
    margin-top: 8em;
    width: 95%;
    height: 65em;
    background-color: rgba(244, 246, 245, 0.58)  ;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
  justify-content: center;
}

.srch-recipe-grid{
  display: grid;
  height: 80%;
  grid-template-rows:  12em 12em 12em 12em 12em;
  grid-template-columns: 23% 23% 23% 23%;
  grid-column-gap: 1.5%;
  grid-row-gap: 1em;
  justify-content: center;
  padding: 3%;
}