@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Poppins&family=Red+Rose&display=swap');


.recbody{
    background-image: linear-gradient(rgb(0, 0, 0, 0.5),rgb(0, 0, 0, 0.5) ), url('../images/background_11.jpg');
    background-size: cover;  
    /* background-repeat: no-repeat; */
    height: 78em;
    width: 100%;
}

.recbody.long{
    height: 110em;
}

.recipe-title {
    display: flex;
    flex-direction: column;
    padding-top: 8em;
    text-align: center;
    gap: 0.4em;
}

.recipe-title a{
    text-decoration: none;
}

.recipe-title a:hover{
    color: aquamarine;
}

.rtitle {
    font-family: 'Red Rose';
    color: #D4E6E0;
    font-size: 2.5em;
    width: 100%;
    justify-content: center;

}

.recipe-data {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
    word-wrap: none;
    justify-content: center;
    text-align: center;
}

.rdata, .redata {
    font-family: 'Red Rose';
    color: #D4E6E0;
    font-size: 1em;
}

#reccat{
    cursor: pointer;
}

.recipe-img{
    width: 50%;
    height: 20em;
    background-size: cover;
    border-radius: 10px;
}

.other-img{
    width: 40%;
    height: 25em;
    background-size: cover;
    border-radius: 10px;
}

.recland, .recipland{
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 1%;
    justify-content: center;
 
}

.recland{
    margin-top: 1em;
}

.recipland{
    margin-top: 0.5em;
}

.page{
    display: flex;
    flex-direction: column;
}



.ingredients {
    width: 50%;
    height: 20em;
    /* background: rgba(235, 235, 235, 0.47); */
    background: rgba(0, 0, 0, 0.6);
    /* border: 1px solid #E4AA15; */
    /* box-sizing: border-box; */
    border-radius: 8px;
    padding: 3%;
}

.ititle {
    font-family: 'Red Rose';
    color: #7bcab2;
}

.icontent{
    font-size: 0.8em;
    margin-top: 1em;
    color: white;
}



.rec-details {
    /* background: rgba(212, 230, 224, 0.78); */
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 60%;
    height: 25em;
    padding: 3%;
}

.rec-title {
    color: #7bcab2;
    font-family: 'Red Rose';
    font-size: 1.5em;
}

.rec-content{
    /* color: #06221a;  */
    color: white;
    font-size: 1em; 
    margin-top: 1em;
}

.line {
    width: 90%;
    height: 2px;
    background-color: #E4AA15;
    ;
}

.review-cont {
    width: 80%;
    height: 6em;
    background: rgba(1, 43, 36, 0.6);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3%;

}

.review-cont.long{
    height: 40em;
}

.revnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rev-title {
    font-family: 'Red Rose';
    color: #7bcab2;
    font-size: 1.5em;
}

.seeless, .seemore {
    font-family: 'Red Rose';
    /* color: rgba(37, 89, 74, 1); */
    color: #7bcab2;
    font-size: 1.2em;
    cursor: pointer;
}

.seeless.show, .seemore{
    display: block;
}

.seemore.hide, .seeless{
    display: none;
}

.seeless:hover, .seemore:hover{
    color: #258fa1; 
}

.add-rev label {
    font-size: 1em;
    color: white;
}

.nodisp{
    color: white;
}

.myrev {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.myrev textarea, .myrevt input{
    background: #F7FCFA;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    padding-left: 0.5em;
}

.rev-text{
    width: 80%;
    height: 95%;

}

.rev-text p{
    font-size: 80%;
}

.myrev textarea{
    height: 4.5em;
    resize: none;
    padding: 1%;
    font-family: 'Red Rose';
}

.myrevt input{
    height: 2em;
    width: 18em;  
}

.myrevt {
    display: flex;
    flex-direction: column;
    /* justify-content: right; */
    justify-content: space-between;
    gap: 1.5em;
    width: 100%
}

.myrevsec{
    display: flex;
    flex-direction: row;
    gap: 0.3em;
}


.rate,
.rev-submit {
    border-radius: 4px;
    background: linear-gradient(180deg, #cce6d5 15%, rgb(175, 184, 179) 100%);
    border: none;
    height: 2em;
    width: 10em;
    position: relative;
    cursor: pointer;

}

.rev-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #D4E6E0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 3.5em;
    padding: 1%;
    border-radius: 4px;
    gap: 1em;
}

.rev-rating i {
    color: #E4AA15;
}

.allrev {
    color: rgba(37, 89, 74, 1);
    font-size: 1em;
    cursor: pointer;
    text-align: center;
}

.allrevs.show {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 30em;
    overflow-y:auto;
    width: 100%;
    margin-top: 1em;
    /* padding-top: 0.8em; */
}

.allrevs{
    display: none;
}

.add-rev{
    display: none;
}

.add-rev.show{
    display: block;
}

.recid{
    display: none;
}